.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  z-index: 1;
  transition: transform 1s ease-out;
}

.feynman__link:hover {
  transform: translate(10px, 0);
  transition: transform 1s ease-out;
  opacity: 0.8;
}
